body {
	background: black;
	border-color: #00DFD3;
	border-style: double;
}
h1 {
	padding-top: 1%;
	padding-bottom: 1%;
}
.skillstable {
	background-color: white;
	text-align: center;
	font-size: 140%;
}
.indexheader {
	width: 100%;
	text-align: center;
	border-bottom-style: double;
	border-color: #00DFD3;
	border-width: 2%;
	font-family: "Courier New", monospace;
	color: #00DFD3;
	padding: 3%;
}
.indexmain {
	color: #8B9694;
	width: 100%;
}
.indexboxobject {
	font-family: "Monaco", monospace;
	border-style: outset;
	border-color: #FF2929;
	text-align: center;
	color: black;
	margin: auto;
	transition-property: all; /* Apply transition effect on the background color */
  	transition-duration: 0.3s; /* Transition will last 1 second */
  	transition-timing-function: linear; /* Timing function to specify a linear transition type */
  	transition-delay: 0.1s; /* Transition starts after 1 second */
  	padding: 0;
  	background-color: white;
}
.indexbox {
	padding-top: 2%;
	padding-bottom: 2%;
}
.indexboxobject:hover {
	border-color: #99D7FF;
	background-color: white;
	font-size: 150%;
	opacity: 75%;
}
.indexboxobject img {
	width: 100%;
}
div.centered {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: rgba(255, 255, 255, 0.7);
  	border-radius: 5px;
}
.indexbox a {
	color: black;
}
.boximage {
	height: 120%;
}
.interests {
	color: white;
	text-align: center;
	font-size: 160%;
	padding-top: 2%;
	font-family: serif, Georgia;
}
.indexheader a {
	text-decoration: none;
	color: #00DFD3;
}
footer {
	text-align: center;
	background-color: #00DFD3;
	color: black;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
footer h5 {
	padding: 2%;
}
.educationsection img {
	width: 100%;
	height: 70%;
	border-style: double;
	border-width: 3px;
	border-color: black;
}
.educationsection {
	text-align: center;
	padding-bottom: 3%;
}
.educationsection a {
	color: white;
	text-decoration: none;
}
.educationsection a:hover {
	color: orange;
	text-decoration: underline;
}
.educationsection h4 {
	padding: 1%;
}
.educationh4 {
	color: white;
}
.nonindexnav a {
	width: 10%;
	height: 5%;
	color: black;
	background-color: white;
	padding: 0.7%;
	border-radius: 5px;
	text-decoration: none;
	font-family: Verdana, "Sans-serif";
	transition-property: all; /* Apply transition effect on the background color */
  	transition-duration: 0.5s; /* Transition will last 1 second */
  	transition-timing-function: linear; /* Timing function to specify a linear transition type */
  	transition-delay: 0.1s; /* Transition starts after 1 second */
}
a:hover {
	text-decoration: underline;
}
a.active {
	background-color: #00DFD3;
	color: white;
}
h5 a:hover {
	color: orange;

}
.nonindexnav {
	width: 100%;
	text-align: center;
	border-bottom-style: double;
	font-family: "Courier New", monospace;
	color: black;
	background-color: black;
}
.nonindexheader {
	width: 100%;
	text-align: center;
	font-family: "Courier New", monospace;
	color: #00DFD3;
	padding-top: 2%;
	background-color: black;
}
.extraimageright {
	width: 30%;
	text-align: center;
	display: inline-block;
	height: 300px;
	margin-left: 3.15%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.extraimageleft {
	width: 30%;
	text-align: center;
	display: inline-block;
	height: 300px;
	margin-left: 3.15%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.skillsmain {
	color: black;
	text-align: center;
	padding-top: 3%;
}
h2 {
	padding: 1%;
}
.experiencemain {
	background-color: black;
	padding-top: 2%;
}
.experiencemain a:hover {
	text-decoration: underline;
}
.skillstable {
	margin: auto;
}
.skillsdescription {
	padding-top: 3.5%;
	font-size: 150%;
	text-align: center;
	width: 100%;
	color: #00DFD3;
	font-style: italic;
}
.carousel {
    background: #00DFD3;
    border-color: #00DFD3;
    border-width: 2%;
    border-style: solid;
    text-decoration: none;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    margin: auto;
    width: 50%;
}
.soccerball img {
	width: 100%;
	margin-bottom: 5%;
}
.experiencecarousel {
	margin: auto;
}
.whitecolor {
	color: white;
}
.experiencemain a {
	color: white;
}
.experiencetextwhite {
	color: white;
	text-align: center;
	padding-top: 3%;
}
.experiencetextwhite a {
	color: white;
}
@media screen and (max-width: 800px) and (min-width: 300px)