body {
	background: black;
	
}
h1 {
	padding-top: 1%;
	padding-bottom: 1%;
}
.educationh4 {
	text-align: center;
}
.educationcard {
	margin: auto;
	font-size: 100%;
	padding-bottom: 1%;
}
.educationcard img {
	width: 100%;
	height: 30vh;
	padding-top: 3%;
}
.skillstable {
	background-color: white;
	text-align: center;
	font-size: 140%;
}
.indexheader {
	width: 100%;
	text-align: center;
	border-bottom-style: double;
	border-color: #00DFD3;
	border-width: 2%;
	font-family: "Courier New", monospace;
	color: #00DFD3;
	padding: 3%;
}
.indexmain {
	color: #8B9694;
	width: 100%;
}
.indexboxobject {
	font-family: "Monaco", monospace;
	border-style: outset;
	text-align: center;
	border-color: orange;
	color: black;
	margin: auto;
	transition-property: all; /* Apply transition effect on the background color */
  	transition-duration: 0.3s; /* Transition will last 1 second */
  	transition-timing-function: linear; /* Timing function to specify a linear transition type */
  	transition-delay: 0.1s; /* Transition starts after 1 second */
  	padding: 0;
  	background-color: white;
  	border-radius: 5px;
}
.indexbox {
	padding-top: 2%;
	padding-bottom: 2%;
}
.indexboxobject:hover {
	border-color: #99D7FF;
	background-color: white;
	font-size: 150%;
	opacity: 75%;
}
.indexboxobject img {
	width: 100%;
}
div.centered {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: rgba(255, 255, 255, 0.7);
  	border-radius: 5px;
}
.indexbox a {
	color: black;
}
.boximage {
	height: 120%;
}
.interests {
	color: white;
	text-align: center;
	font-size: 160%;
	padding-top: 2%;
	font-family: serif, Georgia;
}
.indexheader a {
	text-decoration: none;
	color: #00DFD3;
}
footer {
	text-align: center;
	background-color: #00DFD3;
	color: black;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
footer h5 {
	padding: 2%;
}
.educationsection {
	text-align: center;
	padding-bottom: 3%;
}
.educationsection a {
	color: white;
	text-decoration: none;
}
.educationsection a:hover {
	color: aqua;
	text-decoration: underline;
}
.educationsection h4 {
	padding: 1%;
}
.educationh4 {
	color: white;
}
.nonindexnav a {
	width: 10%;
	display: inline;
	color: black;
	background-color: white;
	padding: 1%;
	border-radius: 2px;
	text-decoration: none;
	font-family: Verdana, "Sans-serif";
	transition-property: all; /* Apply transition effect on the background color */
  	transition-duration: 0.5s; /* Transition will last 1 second */
  	transition-timing-function: linear; /* Timing function to specify a linear transition type */
  	transition-delay: 0.1s; /* Transition starts after 1 second */
}
a:hover {
	text-decoration: underline;
}
a.active {
	background-color: #00DFD3;
	color: white;
}
h5 a:hover {
	color: orange;

}
.nonindexnav {
	width: 100%;
	text-align: center;
	border-bottom-style: double;
	font-family: "Courier New", monospace;
	color: black;
	background-color: black;
}
.nonindexheader {
	width: 100%;
	text-align: center;
	font-family: "Courier New", monospace;
	color: #00DFD3;
	padding-top: 2%;
	background-color: black;
}
.extraimageright {
	width: 30%;
	text-align: center;
	display: inline-block;
	height: 300px;
	margin-left: 3.15%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.extraimageleft {
	width: 30%;
	text-align: center;
	display: inline-block;
	height: 300px;
	margin-left: 3.15%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.skillsmain {
	color: black;
	text-align: center;
	padding-top: 3%;
}
h2 {
	padding: 1%;
}
.experiencemain {
	background-color: black;
	padding-top: 2%;
}
.experiencemain h5 a:hover {
	text-decoration: underline;
}
.skillstable {
	margin: auto;
}
.skillsdescription {
	font-size: 150%;
	text-align: center;
	width: 100%;
	color: #00DFD3;
	font-style: italic;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 3%;
	padding-top: 1%;
}

.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
.whitecolor {
	color: white;
}
.experiencemain a {
	color: white;
}
.experiencemain {
	color: white;
}
.experiencetextwhite {
	color: white;
	text-align: center;
	padding-top: 3%;
}
.experiencetextwhite a {
	color: white;
}
.cardsection {
	margin: auto;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, darkblue, blue) !important;
    color: #fff;
}

.l-bg-red-dark {
    background: linear-gradient(to right, maroon, red) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
.l-bg-white-dark {
	background: linear-gradient(to right, green, lime) !important;
	color: #fff;
}
.l-bg-yellow-dark {
	background: linear-gradient(to right, #8B8000, yellow) !important;
	color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}
.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-yellow {
    background: linear-gradient(135deg, gold, yellow) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, green, lime) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-red {
    background: linear-gradient(135deg, indianred, lightcoral) !important;
    color: #fff;
}
@media screen and (max-width: 800px) and (min-width: 100px) {
	.nonindexnav a {
		width: 80%;
		display: inline-block;
		margin-top: 1%;
	}
}